#top{
	background-image: url("../../assets/images/TV-Programmes.jpg");
	height: 220px;
}

#buttons{
	margin: 2%;
}

#search{
	padding-top: 2%;
	padding-bottom: 3%;
}

body{
	background-color: #4286f4;
}

h1{
	color:white;
	font-size: 56px;
	text-shadow: 2px 2px black;
	margin-top: 150px;
	text-align: center;
}